<footer>
    <div class="container text-center">
        <div class="col-md-12">
            <p><a href="/api/friendFinder">API Friends List</a> | <a href="https://github.com/jparedeso/FriendFinder">GitHub Repo</a></p>
        </div>
    </div>
</footer>